common * {
  box-sizing: border-box;
}

body {
  font-family: "Courier New", Courier, monospace;
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* section {
  padding: 50px 0;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.task {
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  max-width: 400px;
  text-align: left;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  position: relative;
}

.wrap {
  display: flex;
  gap: 10px;
}

.input {
  width: 200px;
  outline: none;
}

@keyframes btnAni {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
} */

/* .btn:hover {
  animation: alternate btnAni 0.5s ease-in-out infinite;
} */

/* .theme {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: 1px solid rgb(10, 72, 113);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  color: rgb(10, 72, 113);
}

.dark {
  background-color: #121212;
  color: #f1f1f1;
} */

/* .done {
  text-decoration: line-through;
} */

/* ! */

/* body {
  background: #98cdff;
}

.disp {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@keyframes animBtn {
  0% {
    transform: scale(1);
    color: #73fca3;
  }
  50% {
    transform: scale(0.8);
    color: #ffffff;
  }
  100% {
    transform: scale(1);
    color: #73fca3;
  }
}

.random-btn {
  background-color: #4d9ce5; 
  /* border: none;
  border-radius: 10px;
  color: #73fca3;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

  transition: color 0.3s ease; */

/* &:hover {
    animation: animBtn 0.8s ease-in-out;
  }
} */

/* .user-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
} */

/* ? */
/* .container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sing-btn {
  background-color: #e0e0e0;
  border-radius: 50px;
  box-shadow: inset 4px 4px 10px #bcbcbc, inset -4px -4px 10px #ffffff;
  color: #4d4d4d;
  cursor: pointer;
  font-size: 18px;
  padding: 15px 40px;
  transition: all 0.2s ease-in-out;
  border: 2px solid rgb(206, 206, 206);

  &:hover,
  &:focus {
    box-shadow: inset 2px 2px 5px #bcbcbc, inset -2px -2px 5px #ffffff,
      2px 2px 5px #bcbcbc, -2px -2px 5px #ffffff;
  }
} */

/* modal */
/* .wrap__modal {
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} */

/* .modal-content {
  padding: 40px;

  border-radius: 30px;
  background: lightgrey;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 50px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 26px -18px inset;
} */
/* 
.title__form {
  color: #ffffff;
  text-align: center;
}

.form__modal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  gap: 16px;
}

.input__modal {
  width: 200px;
  height: 30px;
  border-radius: 15px;
  border: none;
  padding: 8px 12px;
  outline: none;
}

.check-wrap {
  display: flex;
  align-items: center;
  gap: 8px;
}

.check__text {
  font-size: 16px;
  color: #676767;
}

.check__modal {
}

.btn__modal {
  background-color: #e0e0e0;
  border-radius: 50px;
  box-shadow: inset 4px 4px 10px #bcbcbc, inset -4px -4px 10px #ffffff;
  color: #4d4d4d;
  cursor: pointer;
  font-size: 18px;
  padding: 15px 40px;
  transition: all 0.2s ease-in-out;
  border: 2px solid rgb(206, 206, 206);
} */

/* #js-result {
  margin-top: 20px;
  font-size: 18px;
  color: #333333;
} */

/* ! */

/* HTML: <div class="loader"></div> */
/* .loader {
  width: fit-content;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 30px;
  padding-bottom: 8px;
  background: linear-gradient(currentColor 0 0) 0 100%/0% 3px no-repeat;
  animation: l2 2s linear infinite;
}
.loader:before {
  content: "Loading...";
}
@keyframes l2 {
  to {
    background-size: 100% 3px;
  }
} */

/* ! */

/* .loader {
  width: fit-content;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 20px;
  padding-bottom: 8px;
  background: linear-gradient(currentColor 0 0) 0 100%/0% 3px no-repeat;
  animation: l2 2s linear infinite;
  color: green;
}
.loader:before {
  content: "Loading...";
}
@keyframes l2 {
  to {
    background-size: 100% 3px;
  }
}

.hidden {
  display: none;
} */

/*! MY CUSTOM API */

body {
  background: -webkit-linear-gradient(
    90deg,
    #f6f7ec,
    #a9ccca,
    #179096
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    90deg,
    #f6f7ec,
    #a9ccca,
    #179096
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.wrap {
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: left;
  align-items: center;
}

p {
  font-size: 18px;
  color: #333333;
  font-weight: 600;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.list-item {
  display: flex;
  gap: 20px;
  align-items: center;

  background-color: #ffffff;
  border-radius: 20px;
  padding: 0 20px;
}
.title {
}
.title-dscr {
}
.difficulty {
}
.difficulty-dscr {
}
.category {
}
.category-dscr {
}
.example {
}
.example-dscr {
}
.explanation {
}
.explanation-dscr {
}
.show-btn {
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
  font-size: 20px;
  color: #333333;
  border: none;
  text-transform: uppercase;
  padding: 20px 40px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.8);
}
