common * {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font: 1.2em / 1.5 Helvetica Neue, Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

/* section {
  padding: 50px 0;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.task {
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  max-width: 400px;
  text-align: left;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  position: relative;
}

.wrap {
  display: flex;
  gap: 10px;
}

.input {
  width: 200px;
  outline: none;
}

@keyframes btnAni {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
} */

/* .btn:hover {
  animation: alternate btnAni 0.5s ease-in-out infinite;
} */

/* .theme {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: 1px solid rgb(10, 72, 113);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  color: rgb(10, 72, 113);
}

.dark {
  background-color: #121212;
  color: #f1f1f1;
} */

/* .done {
  text-decoration: line-through;
} */

/* ! */

body {
  background: #98cdff;
}

.disp {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@keyframes animBtn {
  0% {
    transform: scale(1);
    color: #73fca3;
  }
  50% {
    transform: scale(0.8);
    color: #ffffff;
  }
  100% {
    transform: scale(1);
    color: #73fca3;
  }
}

.random-btn {
  background-color: #4d9ce5; /* Green */
  border: none;
  border-radius: 10px;
  color: #73fca3;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

  transition: color 0.3s ease;

  &:hover {
    animation: animBtn 0.8s ease-in-out;
  }
}

.user-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
